
body{
    height: 100vh;
    display: flex;
}

#form{
    margin: auto;
}

#main{
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 5px 5px 1px 2px;
    margin: auto;
    padding: 2rem;
    width: 20rem;
    height: 30rem;
}
.label{
    font-weight: bold;
}
h1{
    text-align: center;
}
input{
    border: 2px solid #000;
    outline: 0;
    padding: .7rem;
    width: 90%;
    margin-bottom: 1.2rem;
    margin-top: .7rem;
    font-size: 1rem;
    transition: .4s;
}

input:focus{
    box-shadow: 3px 3px 0px 1px;
}

/* Button */
.btn{
    width: 19.6rem;
    text-align: center;
}
.btn button{
    width: 100%;
    padding: .8rem;
    border: 2px solid #000;
    font-weight: bold;
    background-color: rgb(247, 84, 84);
    color: #fff;
    transition: .4s;
}
button:hover{
    box-shadow: 3px 3px 0px 1px #000;
   transform: translateY(-5px);
}
#socials{
    display: flex;
    flex-direction: column;
    text-align: center;
}
div#socials > p:first-of-type{
    width: 100%;
    font-weight: bold;
    margin: 2rem 0 2rem;
    border-bottom: 2px solid #000;
    line-height: 0.001em;
}
span{
    background: #fff;
    padding: 0 10px;
}
#links{
    margin-top: 1.5rem;
    
}
.social-links{
    text-decoration: none;
    background-color: #fff;
    margin-left: 12px;
    color: #000;
    border: 2px solid #000;
    font-weight: bold;
    padding: 1rem;
}

#links + p{
    margin-top: 2rem;
    font-size: 1.2em;
    color: rebeccapurple;
}