@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    display: flex;
    height: 100vh;
    font-family: 'Playfair Display';
}

section{
    margin: auto;
    border: 1px solid black;
    height: 750px;
    padding: 15px;
}
.watch-area{
    display: flex;
    flex-direction: row;
    margin: 3rem;
}
.content{
    width: 25rem;
}
.watch-img{
    position: relative;
    bottom: 90px;
    background: url('../media/watch.png') center / contain no-repeat;
    height: 500px;
    width: 400px;
}
.list{
    position: relative;
    bottom: 7rem;
    display: flex;
    margin: 2rem;
    border: 1px solid black;
    width: min-content;
    text-align: center;
    padding: 12px;
    border-radius: 16px;
}
.sun{
    width: 100px;
    padding: 5px;
}
button{
    border: 0;
    padding: 16px;
    width: 10rem;
    border-radius: 16px;
    font-weight: 500;
}
#explore{
    background: #ffffff;
    border: 1px solid black;
    transition: .2s;
}
#explore:hover{
    background: black;
    color: #ffffff;
    cursor: pointer;
}
#order{
    background: black;
    color: #ffffff;
    transition: .2s;
}
#order:hover{
    opacity: .8;
    cursor: pointer;
}
.sun > p{
    margin: 0;
    font-size: small;
}