@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    border: 1px solid red;
    font-family:"Amarante", serif;
}

#container{
    display: flex;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 0 12px 1px;
    width: 50rem;
    background-color: beige;
}
.img img{
    border-radius: 10px;
}
.img{   
    border-radius: 10px;
}

#about{
    flex-grow: 1;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-left: 12px;
    padding: 2rem;
}

#about h1{
    font-size: 3rem;
    color: #d7cece;
    
}
#about h3{
    line-height: 3rem;
    font-size: 1rem;
    color: #d7cece;
}
#about