*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    width: 100%;
    height: 15rem;
    background-color: blueviolet;
}
#form{
    position: relative;
    bottom: 6rem;
    margin: auto;
    border: 1px solid red;
    height: 500px;
    width: 500px;
    background-color: #fff;
    border-radius: 16px;
}
form{
    
}