*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(208, 186, 229, 0.485);
}
header{
    width: 100%;
    height: 15rem;
    background-color: blueviolet;
}

#form{
    position: relative;
    bottom: 6rem;
    margin: auto;
    height: 500px;
    width: 800px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: max-content;
    padding: 5rem;
}
h1,h2,h3,h4,h5{
    color: #333;
}
p,label{
    color: #444;
}
label{
    display: block;
    margin-top: 15px;
}
input{
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    outline: 0;
 
}
.obs{
    color: red;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"]{
    width: 400px;
}
h1{
    text-align: center;
    border-bottom: 3px solid purple;
    margin: 2px;
    width: min-content;
    margin: auto;
}
#radios{
    display: flex;
    flex-direction: column;
}