@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    display: flex;
    font-family: 'Poppins';
    background-color: black;
}

section{
    margin: auto;
    background-color: rgb(250, 250, 250);
    border-radius: 12px;
    width: 50%;
}
#content{
    display: flex;
    padding: 12px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.content{
    padding: 12px;
}

#img1{
    height: 15rem;
    background: url('../media/img1.png') center / contain no-repeat;
}
#img2{
    height: 15rem;
    background: url('../media/img2.png') center / contain no-repeat;
  
}
#img3{
    height: 15rem;
    background: url('../media/img3.png') center /contain no-repeat;

}
h1{
    color: rgb(68, 59, 59);
    margin-left: 3.2rem;
    font-size: 2.5rem;
}
h3{
    color: rgb(171, 171, 171);
    margin: 0;
    padding: 0;
}
p{
    color: rgb(0, 0, 0);
    font-weight:200;
}