*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    flex-direction: column;
    display: flex;
    height: 100vh;
}
#main{
    margin-top: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="text"], input[type="password"]{
    display: block;
    padding: 8px;
    margin: 5px;
    width: 15rem;
    border: 1px solid #a7a2a2;
    background-color: #3e3b3b60;
    outline: 0;
    color: #fff;
}
button{
    margin: 5px;
    width: 96.5%;
    background-color: rgba(82, 82, 246, 0.564);
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    outline: 0;
    border: 0;
    font-weight: 300;
}