@font-face {
    font-family: 'vindey';
    src: url('../fonts/Wasted-Vindey.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #CD2C58;
    display: flex;
}
#logo {
    width: 100%;
    text-align: center;

}
#logo img{
    width: 20%;
}
#nav{
    display: none;
}
.img-landing{
    height: 700px;
    width: 100%;
    background-image: url('../media/bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slogan{
    margin: auto;
}
#intro{
    text-align: center;
    position: relative;
    bottom: 35rem;
    margin-left:0 auto;
    font-size: 4rem;
    color: #E06B80;
    font-family: 'vindey';
}