*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #CD2C58;
    display: flex;
}
#logo {
    width: 100%;
    text-align: center;

}
#logo img{
    width: 20%;
}
#nav{
    display: none;
}
.img-landing{
    height: 700px;
    background-image: url('../media/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}