@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'vindey';
    src: url('../fonts/Wasted-Vindey.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #CD2C58;
    display: flex;
}
#logo {
    width: 100%;
    text-align: center;

}
#logo img{
    width: 20%;
}
#nav{
    display: none;
}
/* Landing */
#landing{
    display: block;
    height: 500px;
}
.img-landing{
    height: 500px;
    width: 100%;
    background-image: url('../media/gb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slogan{
    margin: auto;
    word-wrap: break-word;
}
#intro{
    text-align: center;
    position: relative;
    bottom: 25rem;
    margin-left:0 auto;
    font-size: 4rem;
    color: #E06B80;
    font-family: 'vindey';
}

/* About us section */
#about-us{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
#about > h1{
    text-align: center;
    margin-top: 2rem;
    color: #E06B80;
    font-family: 'vindey';
    font-size: 3em;
    font-weight: 400;
}
#about > h1 + p{
    text-align: center;
    color: #472027;
    font-size: 1rem;
    letter-spacing: .05em;
    word-spacing: .05em;
    margin-top: 14px;
    font-family: 'Poppins';
    word-wrap: break-word;
}
/*  */