body{
    height: 100vh;
    display: flex;
}
section{
    display: flex;
    margin: auto;
    width: 70rem;
}
#img img{
    width: 30rem;
}
#content{
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: gray;
}