@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    display: flex;
}
section{
    display: flex;
    margin: auto;
    width: 60rem;
    border-radius: 12px;
    box-shadow: 2px 1px 3px 1px #151111;
}
#img{
    width: 90rem;
    height: 50rem;
    background-image: url('Image.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#content{
    margin-left: 60px;
    margin-right: 5rem;
    font-family: ;
}
p{
    color: gray;
}
button{
    padding: 12px;
    border: none;
    color: #fff;
    background-color: #151111;
    width: 7rem;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}