@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Happy monkey', cursive;
}

body{
    display: flex;
    height: max-content;
    border: 1px solid red;
    text-align: center;
    color: #fff;
    background-color: rgb(98, 167, 204);
    
}

section#birthday{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}
#inicio{
    padding: 3rem;
}

.will{
    border-radius: 100%;
    border: 10px solid palevioletred;
    margin: 12px;
}
#inicio h3{
    background-color: palevioletred;
    border-radius: 12px;
    width: 7rem;
    margin: auto;
    
    
}
.image-gifs {
    background: url('./media/giphy.gif');
    border: 5px solid #fff;
    height: 400px;
    margin: 2rem;
}
#img1:hover{
    background-image: url('./media/happy.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#img2:hover{
    background-image: url('./media/old.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#img3:hover{
    background-image: url('./media/genius.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#img4:hover{
    background-image: url('./media/nor.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#img5{
    width: 600px;
    height: 300px;
}
#img5:hover{
    background-image: url('./media/leo.gif');
    background-repeat: no-repeat;
    background-size: cover;
}