*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cfcdcd;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
#logo h1{
    padding: 1rem;
}
nav > ul{
    display: flex;
    padding: 1rem;
    margin-right: 6rem;
}
#nav-ul > li{
    list-style: none;
    
}
#nav-ul li > a{
    text-decoration: none;
    padding: 12px;
    color: #5e5e5e;
}

/* Style for main section */

main{
    display: flex;
    margin: auto;
    gap: 5rem;
    margin-top: 2rem;
    justify-content: center;
}


/* FOcus on aside */
aside, #main{
    margin-top: 2rem;
}
#busca, #categorias, #tags{
    border: 1px solid #b4aaaa;
    padding: 1rem;
}
#categorias, #tags{
    margin-top: .8rem;
}
aside div > h1{
    margin-bottom: 15px;
}

/* Footer */
footer{
    border-top: 1px solid #5e5e5e;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}