*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cfcdcd;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    
}
nav > ul{
    display: flex;
    
}
ul > li{
    list-style: none;
    
}
li > a{
    text-decoration: none;
    padding: 12px;
    color: #5e5e5e;
}