*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cfcdcd;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
#logo h1{
    padding: 1rem;
}
nav > ul{
    display: flex;
    padding: 1rem;
    margin-right: 6rem;
}
#nav-ul > li{
    list-style: none;
    
}
#nav-ul li > a{
    text-decoration: none;
    padding: 12px;
    color: #5e5e5e;
}