@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #efe2e2;
}
header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cfcdcd;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
#logo h1{
    padding: 1rem;
}
nav > ul{
    display: flex;
    padding: 1rem;
    margin-right: 6rem;
}
#nav-ul > li{
    list-style: none;
    
}
#nav-ul li > a{
    text-decoration: none;
    padding: 12px;
    color: #5e5e5e;
}

/* Style for main section */

main{
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
    font-family: "Merriweather", sans-serif;
    background-color: #eae2e2;
}
main h1{
    margin-top: 3rem;
}
main p{
    word-wrap: break-word;
    word-spacing: 2px;
    line-height: 25px;
    text-align: justify;
}
#main{
    width: min-content;
}
#bio-img{
    background-image: url('../media/bio.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 50rem;

}


/* FOcus on aside */
aside, #main{
    margin-top: 2rem;
}
aside p{
    color: #ffffff;
}
input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}
button{
    position: relative;
    right: 1rem;
    padding: 10px 20px;
    background: #2196f3; /* azul */
    color: white;
    border: 1px solid #2196f3;
    cursor: pointer;
    font-size: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#busca, #categorias, #tags{
    width: 350px;
    border: 1px solid #b4aaaa;
    padding: 1rem;
}
#categorias, #tags{
    margin-top: .8rem;
}

aside div > h1{
    margin-bottom: 15px;
}

#categorias li{
    list-style: none;
    
    margin: 5px;
}
#categorias a{
    margin: 10px;
    text-decoration: none;
    color: #717171;
    transition: .5s;
}
#categorias a:hover{
    color: #4c67d1;
}
#tgs{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}
#tgs p{
    background-color: #acaaaa;
    border-radius: 6px;
    padding: 8px;
    color: #393838;
}

/* Footer */
footer{
    border-top: 1px solid #5e5e5e;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}