body{
    display: flex;
    background-color: rgb(250, 229, 205);
    height: 100vh;
}
section{
    margin: auto;
}
#main{
    border: 1px solid red;
    padding: 3rem;
    width: 50rem;
}
#content{
    border: 1px solid red;
    display: flex;
}
.description{
    border: 1px solid red;
}
.img1{
    background: url();
}