@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    background-color: rgb(250, 229, 205);
    height: 100vh;
    font-family: 'Poppins', serif;
}
section{
    margin: auto;
}
#main{
    padding: 3rem;
    width:min-content;
    background: #fff;
    height: fit-content;

}
#content{
    width: fit-content;
    height: 28rem;
    display: flex;
}
.description{
    width: fit-content;
    padding: 12px;
}
.img{
    height: 300px;
    width: 13rem;
    border-radius: 16px;
}
.img1{
    background: url('../media/1.png')center / cover no-repeat;
}
.img2{
    background: url('../media/2.png')center / cover no-repeat;
}
.img3{
    background: url('../media/3.png')center / cover no-repeat;
}
.img4{
    background: url('../media/4.png')center / cover no-repeat;
}
.img-content{
    position: relative;
    bottom: 8rem;
    left: .5rem;
    width: 13rem;
}