body{
    display: flex;
    background-color: rgb(250, 229, 205);
    height: 100vh;
}
section{
    margin: auto;
}
#main{
    border: 1px solid red;
    padding: 3rem;
    width: 50rem;
}
#content{
    border: 1px solid red;
    display: flex;
}
.description{
    border: 1px solid red;
}
.img{
    height: 300px;
}
.img1{
    background: url('../media/1.png');
}
.img2{
    background: url('../media/2.png');
}
.img3{
    background: url('../media/3.png');
}
.img4{
    background: url('../media/4.png');
}